body{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
label{
    margin: 0 2em 2em 0 ; 
}
#wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
}
#domUpdate{
    background-image: url("https://i.ibb.co/mv3jndC/free-moon-wallpaper-1.jpg");
    background-size: cover;
    align-self: center;
    width: 70%;
    height: 50vh;
    background-color: black;
    opacity:1;
}